body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(236, 100, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#info a {
    color: #66F;
    text-decoration: none;
}

#info a:hover {
    text-decoration: underline;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.status-flag {
    color: white;
    border-radius: 7px;
    border-style: solid;
    padding: 3px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
    display: inline-block;
    margin: 3px;
}

.status-online {
    background-color: green;
    border-color: darkgreen;
}

.status-offline {
    background-color: red;
    border-color: darkred;
}